<!DOCTYPE html>
<html>
<head>
  <title>😬</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $(".btn").click(function(){ //https://stackoverflow.com/questions/17106885/disable-submit-button-only-after-submit
          setTimeout(function(){ disableButton(); }, 0);
      });
      function disableButton(){
          $(".btn").prop('disabled', true);
          $("#zs").prop('disabled', true);
      }
  });
</script>

{% if submitted %}
<script>
$(document).ready(function(){
  $("#form1").hide();
  $("#loading").show();
});
$.ajax({ //https://stackoverflow.com/questions/45051744/django-display-loading-image-while-a-bash-process-is-running
  url: '/app_tut/anime-load/',
  type: 'GET',
  dataType: 'json',
  success: function(result){
    // $('#image-id').attr('src', result.image);
    // $("#loading").prop("disabled", true);
    $("#loading").hide(); // use hide for div element
    $("#form1").show();
    // alert("ajax done");
  },
  // error: function(xhr){alert(xhr.responseText);}
});
</script>
{% endif %}


<script type="text/javascript"> //for zs
  $(document).ready(function(){
      $("#zs").click(function(){
      $("#zs").prop('disabled', true);
      $(".btn").prop('disabled', true);
        $.ajax({
          url: '/app_tut/anime-zs/',
          type: 'GET',
          dataType: 'json',
          success: function(result){
            $("#zs-out").attr("src",result.img);
            $(".btn").prop('disabled', false);
          },
          error: function(xhr){alert(xhr.responseText);}
        });
          // setTimeout(function(){ disableButton(); }, 0);
      });
      // function disableButton(){
      //     $(".btn").prop('disabled', true);
      // }
  });
</script>

</head>
<body>
  <h1>anime.html</h1>
  <div id="loading" name="load" class="load" style='display:none'>loading, pls wait</div>

  <form method="POST" id="form1">
    {% csrf_token %}

    {% if submitted %}
    <button type="submit" name="btn" value="start" class="btn">start</button>
    {% endif %}

    {% if not submitted %}
    <div class='wrapper'>
    <button type="submit" name="btn" value="left" class="btn"><img src={{ img1 }}></button>
    <button type="submit" name="btn" value="right" class="btn"><img src={{ img2 }}></button>
    </dir>
    <br>
    <br>
    <button type="button" id="zs">get zs</button>
    <br>
    <br>
    <img id="zs-out">

    {% endif %}

    </form>
</body>
</html>
